.text_color {
  color: #901d63;
}

.border-radius {
  border-end-start-radius: 1rem;
  border-top-right-radius: 1rem;
}

.bg_primary {
  background-color: #901d63;
}

.input_bg {
  background-color: #f6e9ee;
}

.hero-image {
  margin-bottom: -4rem;
  margin-right: -1.9rem;
  transform: translateY(-10%);
  width: 100%;
  max-width: 25rem;
  height: auto;
}

.service-image {
  margin-bottom: -1.4rem;
  margin-left: -2rem;
  max-height: 300px;
}

.booking-area {
  margin-top: -3rem;
  position: relative;
  z-index: 111;
}

.service-image {
  margin-bottom: -5.1rem;
  margin-left: -2.2rem;
  transform: translateY(-13%);
  max-height: 400px;
}

.md-button {
  transform: translateX(-58%);
}

.form-control {
  border: none;
}

.carousel-indicators {
  bottom: -3rem !important;
}

.carousel-indicators [data-bs-target] {
  background-color: #901d63 !important;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
}

.carousel-control-next {
  left: -7rem;
}

.carousel-control-prev {
  right: -7rem;
}

.quote-img {
  width: 72px;
  height: 72px;
  transform: translateY(-3.5rem);
  margin-left: 0.5rem;
}

.pagination-container {
  overflow-x: auto;
  white-space: nowrap;
}

.pagination {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 0;
}

.page-link {
  color: #212529;
}

.page-link:hover {
  color: #901d63;
  border-color: #901d63 !important;
}

.page-link.active {
  border: 1px solid #901d63 !important;
  background-color: #fff;
  color: #901d63;
  box-shadow: none;
}


@media (max-width: 1024px) {
  .md-button {
    transform: translateX(-19%);
  }

  .service-image {
    max-height: 300px;
    margin-bottom: -3.8rem;
    margin-left: -1.9rem;
  }

  .md-p {
    font-size: 0.8rem;
  }

  .md-header {
    font-size: 1.2rem;
  }

  .lg-header {
    font-size: 1.6rem;
  }

  .md-img {
    max-width: 0.9rem;
    max-height: 0.9rem;
  }
}

@media (max-width: 768px) {
  .service-image {
    margin-bottom: -3.6rem;
    transform: translateY(-12%);
    max-height: 300px;
  }

  .md-width {
    margin: auto !important;
    max-width: 42rem;
  }

  .md-button {
    transform: translateX(-58%);
  }

  .carousel-control-next {
    left: 0;
  }

  .carousel-control-prev {
    right: 0;
  }

  .border-radius {
    border-end-start-radius: 0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }
}

@media (max-width: 425px) {
  .hero-image {
    margin-bottom: -3.9rem;
    margin-right: -1.8rem;
  }

  .service-image {
    margin-bottom: -3.6rem;
    margin-left: -1.9rem;
    transform: translateY(-15%);
  }

  .sm-padding {
    padding: 0.8rem;
  }
}

@media (max-width: 375px) {
  .service-image {
    margin-bottom: -3.6rem;
    margin-left: -1.9rem;
    transform: translateY(-15%);
  }

  .hero-image {
    margin-bottom: -3.2rem;
    margin-right: -1.7rem;
  }

  .sm-header {
    font-size: 1rem;
  }

  .sm-p {
    font-size: 0.8rem;
  }

  .sm-img {
    max-width: 0.8rem;
    max-height: 0.8rem;
  }

  .md-button {
    transform: translateX(-18%);
  }
}

@media (max-width: 320px) {
  .hero-image {
    margin-bottom: -2.8rem;
    margin-right: -1.55rem;
  }

  .sm-padding {
    padding: 0.25rem;
  }
}
